@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

    --primary-color: #0D6EFD;
    --Body_Text_Base-Color: #68717A;
    --secondary-color: #6C757D;
    --Heading_Title-Color: #152536;
    --Stroke_light-color: #DEE2E6;
    --color_family6: #7749F8;
    --gray-white: #FFF;
    --font-family1: 'Inter';

}

* {
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: var(--font-family1);
}

.container {
    width: 100%;
    min-width: 360px;
    max-width: 767px;
    margin: auto;
    padding: 0 12px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    /* min-width: 360px;
    max-width: 767px; */
    margin: auto;
}

.header_item {
    width: 100%;
    min-width: 360px;
    max-width: 767px;
    padding: 0 12px;
}

.header_items>li:last-child {
    background-color: var(--primary-color);
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: 16px;
    padding: 20px 0;
}

.logo {
    color: var(--gray-white);
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_nav {
    display: none;
}

.sticky_nav {
    display: none;
}

.header_items h1 {
    color: #000;
    margin: 16px 0;
    /* Bold / H1 Heading */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

.site_description {
    border-left: 2px solid #7749F8;
    margin: 16px 0 12px 0;
    padding: 0 24px;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.get_start {
    display: none;
    color: var(--gray-white);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    background: var(--primary-color);
}

.header_item>a {
    display: none;
    color: var(--gray-white);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 4px;
    background: var(--primary-color);

}

.statistics_list {
    width: 100%;
    margin-top: 12px;
}

.statistics_list li:last-child {
    display: none;
}

.statistics_wrapper {
    text-align: center;
}

.number {
    color: #000;
    text-align: center;
    /* Semi-Bold / H3 Heading */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.plus {
    color: var(--primary-color);
    /* Semi-Bold / H3 Heading */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.statistics_description {
    margin-top: 8px;
    color: var(--secondary-color);
    text-align: center;
    /* Semi-Bold / H6 Heading */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header_img {
    display: block;
    width: 100%;
    height: auto;
}

main h2 {
    margin: 64px 0 24px 0;
    color: #000;
    text-align: center;
    /* Bold / H4 Heading */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sale_list {}

.sale_list li {
    display: none;
    border-radius: 4px;
    border: 1px solid var(--stroke-light, #DEE2E6);
    background: var(--gray-white, #FFF);
}

.sale_list li:first-child {
    display: unset;

}

.sale_card-image img {
    display: block;
    width: 100%;
    height: 471px;
    object-fit: cover;
    /* height: 471px; */
    /* background-image: url(./images/Rectangle\ 174.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.card_tag {
    display: flex;
    width: 60px;
    height: 20px;
    margin-top: 27px;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--secondary-color);
    border-radius: 2px;
    align-self: flex-end;


}

.card_tag p {

    /* display: flex; */
    padding: 4px 7px;
    /* align-items: center; */
    background: var(--secondary-color, #6C757D);
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.sale_card-body {
    padding-left: 14px;
}

.sale_card-title {
    color: var(--Heading_Title-Color);
    /* Extrabold / H4 Heading */
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-top: 54px;
    margin-right: 16.5px;

}

.sale_card-description {
    color: var(--Body_Text_Base-Color);
    /* Body/Small */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
    margin-right: 16.5px;
    padding-right: 9px;

}

.sale_card-price {
    width: 100%;
    height: 103px;

}

.card-price-amount {
    color: var(--primary-color);
    /* Lead/Text - Regular */
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 171.429% */
    margin-bottom: 20px;
    margin-top: 18px;

}

.card-price-link a {
    padding: 10px 16px;
    color: var(--gray-white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    background: #343A40;
    text-decoration: none;
    margin-left: 81px;


}

.sale_load_link {
    display: inline-block;
    padding: 10px 16px;
    align-items: center;
    border-radius: 4px;
    background: var(--primary-color);
    margin-top: 44px;
    color: var(--gray-white);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    text-transform: uppercase;
    text-decoration: none;
}

.rent_load_link {
    display: inline-block;
    padding: 10px 16px;
    align-items: center;
    border-radius: 4px;
    background: var(--primary-color);
    margin-top: 44px;
    color: var(--gray-white);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    text-transform: uppercase;
    text-decoration: none;
}

.rent_card-wrapper {
    width: 100%;

}

.rent_list li {
    display: none;
    border-radius: 4px;
    border: 1px solid var(--stroke-light, #DEE2E6);
    background: var(--gray-white, #FFF);
}

.rent_list li:nth-child(4) {
    display: unset;
}

.rent_card-image {
    width: 100%;
}

.rent_card-image img {
    display: block;
    width: 100%;
    height: auto;
}


.rent_card-body {
    padding: 0 13px 0 23px;
    text-align: left;
}

.rent_card-body div:first-child {
    margin-top: 24px;
    margin-bottom: 10px;
}

.rent_card-title {
    max-width: 300px;
    overflow: hidden;
    color: var(--heading-title-color, #152536);
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Semi-Bold / H3 Heading */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rent_card-description {
    color: var(--Body_Text_Base-Color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.rent_card-price {
    padding-right: 12px;
}

.rent_card-price div {
    margin: 0;
    padding: 0;
    margin-bottom: 33px;
}

footer {
    margin-top: 96px;
    display: flex;
    width: 100%;
    padding: 64px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px 4px 0px 0px;
    background: var(--primary-color);
}

footer span {
    color: var(--gray-white);
    text-align: right;

    /* Body/ Base text */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

footer a {
    color: var(--gray-white);
    /* Body/Strong */
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

@media (min-width:768px) {
    .container {
        width: 100%;
        min-width: 768px;
        max-width: 1027px;
        margin: auto;
        padding: 0 69px;
        text-align: center;
    }

    .header_item {
        min-width: 768px;
        max-width: 1027px;
    }

    .sticky_nav {
        display: none;
    }

    .header_items>li:first-child {
        padding: 0 92px;
    }

    .header_items>li:nth-child(2) {
        padding: 0 92px;
    }

    .header_items>li:nth-child(4) {
        padding: 0 92px;
    }


    .header_items>li:last-child {
        margin-bottom: 64px;
    }

    .header_items h1 {
        margin: 64px 0 24px 0;
        font-size: 72px;
        letter-spacing: unset;
    }

    .site_description {
        margin: 24px 0 24px 0;
    }

    /* .header_item>a {
        display: unset;
        position: absolute;
        top: 1015px;
        left: 332px;
      
    } */

    .statistics_list {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 14px;

    }

    .statistics_list li:last-child {
        display: unset;
    }

    .statistics_description {
        font-size: 21px;
        font-weight: 400;
        line-height: 36px;
    }

    .get_start {
        display: unset;

        margin-left: 39.83%;
    }

    /* .header_item img{
        margin-bottom: 18.72%;

    } */
    .header_items {
        margin-bottom: -18.72%;
    }

    main h2 {
        margin: 0;
        font-size: 32px;
    }

    .sale_title {
        margin: 247px 0 11px 0;
    }

    .sale_list li {
        display: unset;
        margin-top: 24px;
    }

    .sale_card-image img {
        height: 265px;
    }


    .card_tag {
        margin: 0;
        margin-top: 27px;
        align-self: flex-start;
    }

    .sale_card-body {
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 28.5px;
    }

    .sale_card-title {
        height: 52px;
        margin-top: 10px;
        margin-right: 34.5px;
        padding-right: 10px;

    }

    .sale_card-description {
        height: 60px;
        margin-top: 11px;
        margin-right: 31.5px;
        padding-right: 20px;
        margin-bottom: 23px;

    }

    .sale_card-price {
        height: auto;
        padding-right: 45px;
        margin-bottom: 22px;

    }

    .card-price-amount {
        margin: 0;
    }

    .card-price-link a {
        margin: 0;
    }

    .sale_load_link {
        display: none;
    }

    .rent_title {
        margin: 96px 0 47px 0;
    }

    .rent_list {
        margin: 0;
        margin-bottom: 23px;
    }

    .rent_list li {
        display: unset;
    }

    .rent_card-image {
        width: 100%;
    }

    .rent_card-image img {
        display: block;
        width: 100%;

        object-fit: cover;
        /* height: 471px; */
        /* background-image: url(./images/Rectangle\ 174.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; */
    }

    .rent_card-body {
        padding: 0 12.5px 0 23.5px;
    }

    .rent_card-body div:first-child {
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .rent_card-title {
        max-width: 300px;
        overflow: hidden;
        color: var(--heading-title-color, #152536);
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Semi-Bold / H3 Heading */
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .rent_card-description {
        color: var(--Body_Text_Base-Color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .rent_card-price {
        padding-right: 12px;
    }

    .rent_card-price div {
        margin: 0;
        padding: 0;
        margin-bottom: 33px;
    }

    .rent_load_link {
        display: unset;
        margin: 0;

    }

}

@media (min-width:1028px) {
    .container {
        width: 100%;
        min-width: 1028px;
        max-width: auto;
        margin: auto;
        padding: 0;
        /* padding: 0 207px; */
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        width: 100%;
        /* height: 100vh; */
        position: relative;
        padding-top: 131.5px;


    }

    .header_item {
        min-width: unset;
        max-width: unset;
    }

    .header_nav {
        display: unset;
    }

    .header_items>li:first-child {
        padding: 0;
        margin: 0;
        padding: 0 38% 0 13.53%;

    }

    .header_items>li:nth-child(2) {
        padding: 0;
        margin: 0;

        padding: 0 44.575% 0 13.53%;
    }

    .header_items>li:nth-child(3) {
        padding: 0;
        margin: 0;

        padding: 0 40.575% 0 13.53%;
        /* height: 50px; */
    }

    .header_items>li:nth-child(4) {
        padding: 0;
        margin: 0;
        margin-bottom: 131.5px;
        padding: 0 44.575% 0 13.53%;
        height: 78px;
    }

    .header_items>li:last-child {
        display: none;
    }


    .header_items h1 {
        margin: 0;
        height: 174px;
    }

    .site_description {
        height: 84px;
        margin: 0;
        padding: 0;
        padding: 0 32px;

    }

    .header_item>a {
        display: unset;
        margin: 0;


    }

    .statistics_list {
        width: 100%;
        margin: 0;

    }

    .statistics_list li:last-child {
        display: unset;
    }

    .statistics_description {
        font-size: 21px;
        font-weight: 400;
        line-height: 36px;
    }

    .get_start {
        display: none;
    }

    .header_img {
        position: absolute;
        top: 225px;
        right: 0;
        left: 51%;
        width: 49%;
        height: 500px;
        z-index: -1;
    }

    .sticky_nav {
        width: 100%;
        display: flex;
        background-color: var(--primary-color);
        box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
        width: 100%;
        margin: 0;
        margin-top: -32px;
        padding: 18px 13.46%;
        position: sticky;
        top: 0;
    }


    .nav_list a {
        color: #FFF;
        text-align: right;
        text-decoration: none;
        /* Body/ Base text */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
    }


    .header_items {
        margin: 0;
    }

    main h2 {
        margin: 0;
        font-size: 32px;
    }

    .sale_list {
        width: 100%;
    }

    .sale_title {

        margin: 0;
        margin: 32px 0 8px 0;
    }

    .sale_list li {

        display: unset;
        margin: 0;
        margin-top: 24px;
    }

    .sale_list li:nth-child(even) {
        margin-left: 24px;
    }


    .sale_card-title {
        height: 53px;
        margin-top: 10px;
        margin-right: 27px;
        padding-right: 0px;

    }

    .sale_card-description {
        height: 75px;
        margin: 11px 25px 8px 0;
        margin-right: 25px;

        margin-bottom: 8px;
        padding: 0;

    }

    .sale_card-price {

        height: 39px;
        padding-right: 45px;
        margin-bottom: 8px;

    }

    .card-price-amount {
        margin: 0;
    }

    .card-price-link a {
        margin: 0;
    }

    .sale_load_link {
        display: none;
    }

    .rent_title {
        margin: 96px 0 47px 0;
    }

    .rent_list {
        margin: 0;
        margin-bottom: 32px;
    }

    .rent_list li {
        display: unset;
    }

    .rent_card-image {
        width: 100%;
    }

    .rent_card-image img {
        display: block;
        width: 100%;

        object-fit: cover;
        /* height: 471px; */
        /* background-image: url(./images/Rectangle\ 174.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; */
    }

    .rent_card-body {
        padding: 0 12.5px 0 23.5px;
    }

    .rent_card-body div:first-child {
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .rent_card-title {
        max-width: 300px;
        overflow: hidden;
        color: var(--heading-title-color, #152536);
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Semi-Bold / H3 Heading */
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .rent_card-description {
        color: var(--Body_Text_Base-Color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    .rent_card-price {
        padding-right: 12px;
    }

    .rent_card-price div {
        margin: 0;
        padding: 0;
        /* margin-bottom: 33px; */
    }

    .rent_load_link {
        display: unset;
        margin: 0;

    }
}

@media (min-width:1028px) and (max-width:1285px) {
    .header_items>li:first-child {
        padding: 0;
        margin: 0;
        padding: 0 25% 0 13.53%;

    }

    .header_items>li:nth-child(2) {
        padding: 0;
        margin: 0;

        padding: 0 35.575% 0 13.53%;
    }

    .header_items>li:nth-child(3) {
        padding: 0;
        margin: 0;

        padding: 0 40.575% 0 13.53%;
        /* height: 50px; */
    }

    .header_items>li:nth-child(4) {
        padding: 0;
        margin: 0;
        margin-bottom: 131.5px;
        padding: 0 30.575% 0 13.53%;
        height: 78px;
    }

}